mixin lawFilter
	.law-filter
		span.law-filter__text Показывать законы:
		button.law-filter__btn(
			type='button'
			id='filterAll') Все
		button.law-filter__btn(
			type='button'
			id='filterNew') Новые
		button.law-filter__btn(
			type='button'
			id='filterMy') Мои
		button.law-filter__btn(
			type='button'
			id='filterPopular') Популярные