mixin newsSingle(title, category, date, datetime, img)
	.news-single
		.news-single__head
			h1.news-single__title!=title
			time.news-single__date(
				datetime=datetime)=date
			a.news-single__category(href='#')!=category
		.news-single__body
			.news-single__face
				img.news-single__img(
					src=img
					alt='')
			.news-single__text
				p Сегодня Высшая квалификационная коллегия судей (ВККС) РФ дала Следственному комитету России (СКР) согласие на возбуждение уголовного дела против судьи Арбитражного суда (АС) Чеченской Республики Алу Бачаева. Его подозревали в вынесении заведомо неправосудных решений. Два года назад ВККС не дала согласия следователям, однако по их жалобе Верховный суд (ВС) РФ решение коллегии отменил. Также сегодня ВККС должна была рассмотреть жалобу судьи Татьяны Рыжих из Волгоградской области на решение региональной ККС, давшей согласие на возбуждение уголовного дела. Весной прошлого года судья сбила насмерть двух пешеходов и скрылась с места ДТП.Рассмотрение жалобы коллегия перенесла на май из-за болезни заявительницы.
				p В марте 2014 года СКР безуспешно просил у ВККС согласия на возбуждение против Алу Бачаева дела за заведомо неправосудные решения (ст. 305 УК) в пользу ассоциации «Симбиоз». По одному из них истец добился взыскания из федерального бюджета 364 млн руб. компенсации за снос гостиничного комплекса в Грозном.
				p По другому Алу Бачаев присудил более 4,5 млрд руб. за дизтопливо, поставки которого истцы не дождались в начале 1990-х годов. В СКР считали, что правопреемство между истцом (ассоциацией «Симбиоз») и одноименной ассоциацией кооперативов, существовавшей в 1990-е годы, не подтверждается документами. Оба решения Алу Бачаева были оставлены в силе апелляционным судом, но впоследствии отменены кассацией. Дело о дизтопливе затем было прекращено из-за истечения сроков исковой давности, а спор о сносе гостиницы снова попал к Алу Бачаеву. При новом рассмотрении он требования истцов не удовлетворил (см. здесь).
				p Шанс добиться уголовного преследования Алу Бачаева следователям дал Верховный суд (ВС) РФ. В июле 2014 года судья ВС Владимир Зайцев отменил отказное постановление ВККС. С повторным обращением СКР обратился только сейчас.
				p Алу Бачаев на заседание не явился из-за болезни, но просил рассмотреть представление СКР в присутствии своего адвоката, чье выступление было достаточно эмоциональным. Она считала, что судью преследуют только из-за позиции по этим двум делам. Также она удивлялась, почему СКР пытается возбудить уголовное дело только против Алу  Бачаева. «Почему никаких вопросов нет к судьям апелляционного суда, которые дали дорогу в жизнь решениям Алу Бачаева? Что это такое? Чем это объяснить?» — возмущалась адвокат.
				p Защитница настаивала, что Алу Бачаев правильно установил правопреемство истца на основании устава. В свидетельстве о регистрации не указывается, новое это лицо или правопреемник, говорила она. «Какие еще доказательства требуются суду?» — интересовалась выступавшая. Кроме того, она обращала внимание, что кассация отменила решения Алу Бачаева не из-за неправосудности, а в связи с неправильной оценкой стоимости спорных объектов.
				p Наконец, адвокат говорила, что Алу Бачаев  удовлетворял все ходатайства, как истца, так и ответчика. «Почему при таких обстоятельствах СКР считает, что он действовал намеренно? Что он должен был еще сделать? Отказаться от отправления правосудия?» — спрашивала она.
				p «Судья потерял сон и покой, думает, дадут согласие или нет, доведен до отчаяния и реанимации…  госпитализируется почти каждый месяц», — рассказывала адвокат. «Я не видела более абсурдного представления», — подытожила выступавшая.
				p Несмотря на доводы адвоката, ВККС удовлетворила представление главы СКР о даче согласия на возбуждение уголовного дела против Алу Бачаева.
				p Также ВККС должна была сегодня рассмотреть жалобу бывшей судьи Городищенского районного суда Волгоградской области Татьяны Рыжих на решение региональной ККС о даче согласия на возбуждение в отношении нее уголовного дела по ч. 5 ст. 264 УК (нарушение правил дорожного движения, повлекшее смерть двух и более лиц). По сообщениям СМИ, в апреле 2015 года она сбила двух человек, скрылась с места ДТП и бросила машину. Пострадавшие скончались на месте. А через несколько месяцев Татьяна Рыжих ушла в отставку (см. материал «Газеты.ру»).