include blocks

block page_id

<!DOCTYPE html>
html(lang='ru')
	head
		block title
		include head
	body.page
		+header
			+burger
			+logo('header')
			+navigation
				+navItem('Законы', true)
				+navItem('Новости', '/news.html')
				+navItem('Пользователи', '/users.html')
				+navItem('Обратная связь', 'btn')(data-modal-link='#feedback')
			+btn('Войти / Зарегистрироваться', 'person')(
				data-modal-link='#login')

		block content

		+footer
			+logo('footer')
			+social
				+socItem('vk', 'Мы в VKontakte', 'http://vk.com/')
				+socItem('fb', 'Мы в Facebook', 'http://facebook.com/')
		
		.page__modals
			+modal('login')
				+login('Личный кабинет')
					+form('userLogin')(
						id='userLogin'
						mods=['show', 'login'])

						// ошибки включаются добавлением модификатора с названием элемента ошибки к .input
						// то есть если к .input добавить input--no-login, то появится ошибка "введите логин" и тд.
						// ошибки на этом поле
						// input--no-login
						+input('text')(
							placeholder='Введите логин'
							name='login'
							errors=[['no-login', 'Введите логин']])

						// ошибки на этом поле
						// input--no-pass
						+input('password')(
							placeholder='Введите пароль'
							name='password'
							errors=[['no-pass','Введите пароль']]
							mods=['margined'])
						+checkbox('remember', 'Запомнить меня')(mods=['no-margin'])
						button.form__forgot(
							type='button'
							data-modal-link='#forgot') Забыли пароль?
						+btn-submit('Войти')(mods=['enter'])

					+form('userReg')(
						id='userReg'
						mods=['login'])

						//- // ошибки на этом поле
						//- // input--no-login
						//- // input--reged-login
						//- // input--short-login
						//- +input('text')(
						//- 	placeholder='Введите логин'
						//- 	name='login'
						//- 	errors=[
						//- 		['no-login','Введите логин'],
						//- 		['reged-login', 'Логин занят'],
						//- 		['short-login', 'Логин должен быть длиннее 3 символов']
						//- 	])
						+input('email')(
							placeholder='Введите e-mail'
							autocomplete='on'
							name='email'
							errors=[
								['no-mail','Введите e-mail'],
								['reged-mail', 'Данный e-mail уже зарегистрирован'],
								['wrong-mail', 'Введенный e-mail имеет неверный формат']
							])

						// ошибки на этом поле
						// input--no-pass
						// input--short-pass
						+input('password')(
							placeholder='Введите пароль'
							autocomplete='on'
							name='password'
							errors=[
								['no-pass','Введите пароль'],
								['short-pass', 'Пароль не должен быть короче 6 символов']
							]
							mods=['margined'])
						.recapcha
						+btn-submit('Зарегистрироваться')(mods=['reg'])

			+modal('forgot')
				+fBack('Забыли пароль?')
					+form('forgotPass')
						p.form__text
							| Не может вспомнить пароль для входа в свой аккаунт?
							br
							| Введите Ваш e-mail в форму ниже, и мы отправим его Вам на почту.

						// ошибки на этом поле
						// input--no-email
						// input--not-reged-email
						// input--wrong-mail
						+input('email')(
							placeholder='Введите e-mail'
							name='email'
							errors=[
								['no-mail','Введите e-mail'],
								['not-reged-mail', 'Данный e-mail не зарегистрирован'],
								['wrong-mail', 'Введенный e-mail имеет неверный формат']
							])
						+btn-submit('Отправьте мне пароль!')(mods=['ask-pass'])

			+modal('feedback')
				+fBack('Обратная связь')
					+form('userFeedback')
						+input('email')(
							placeholder='Введите e-mail'
							name='email'
							errors=[
								['no-mail','Введите e-mail'],
								['wrong-mail', 'Введенный e-mail имеет неверный формат']
							])
						+textarea(
							placeholder='Введите текст комментария'
							name='comment'
							mods=['modal'])
						+btn-submit('Отправить сообщение')(mods=['feedback'])
	
			+modal('voteCounted')(id='voteCounted')
				+wModal('Спасибо, Ваш голос учтен!')
					+form('voting')
						+rate
						+textarea(
							label='Оставьте комментарий:'
							placeholder='Введите текст комментария'
							name='comment'
							mods=['modal'])
						+btn-submit('Оставить комментарий')(mods=['modal'])

			+modal('suggestPlus')(id='suggestPlus')
				+wModal('Предложить плюс:')
					+form('comment')
						+textarea(
							placeholder='Введите текст комментария'
							name='comment'
							mods=['modal'])
						+btn-submit('Оставить комментарий')(mods=['modal'])

			+modal('suggestMinus')(id='suggestMinus')
				+wModal('Предложить минус:')
					+form('comment')
						+textarea(
							placeholder='Введите текст комментария'
							name='comment'
							mods=['modal'])
						+btn-submit('Оставить комментарий')(mods=['modal'])

			+modal('confirmEmail')(
				id='confirmEmail')
				+wModal('Подтверждение e-mail адреса', 'Чтобы подтвердить регистрацию, пожалуйста, введите проверочный код, который пришел Вам на e-mail')(mods=['left-title'])
					+form('confirmEmail')(mods=['confirm'])

						// ошибки на этом поле
						// input--wrong-code
						+input('text')(
							name='mail'
							errors=[
								['wrong-code', 'Код введен неверно']
							])
						+btn-submit('Подтвердить e-mail')(mods=['confirm'])
						+btn-submit('Выслать повторно')(mods=['confirm', 'one-more'])

			+modal('uploadPhoto')(
				id='uploadPhoto')
				+wModal('Загрузка новой фотографии', 'Друзьям будет проще узнать Вас, если Вы загрузите свою настоящую фотографию. Вы можете загрузить изображение в формате JPG, JPEG или PNG.')
					+loader

			+modal('crop')(
				id='crop'
				mods=['crop'])
				+wModal('Обрезка фотографии', 'Выбранная область будет показываться на Вашей странице. Если изображение ориентировано неправильно, фотографию можно повернуть.')(mods=['crop', 'left-title'])
					+crop
					+form('crop')
						+input('hidden')(mods=['no-margin'])
						+button('Загрузить изображение')(
							id='uploadCrop'
							mods=['center'])

			+modal('wrongFile')(
				id='wrongFile')
				+wModal('Неверный формат фото', 'Вы пытаетесь загрузить фото неверного расширения (или вообще не фото). Допустимые форматы - JPG, JPEG, PNG')
					+button('Ок')(
						data-act='closeModal'
						mods=['center'])

			+modal('emailChanged')(
				id='emailChanged')
				+wModal('E-mail подтвержден')
					+button('Ок')(
						data-act='closeModal'
						mods=['center'])

			+modal('tooBigFile')(
				id='tooBigFile')
				+wModal('Слишком большое фото', 'Вы пытаетесь загрузить слишком большую фотографию. Размер фото не должен превышать 5МБ.')
					+button('Ок')(
						data-act='closeModal'
						mods=['center'])

			+modal('editAccount')(
				id='editAccount')
				+settings
					+setTabs
						+setTab('account', 'Настройки аккаунта')(mods=['active'])
						+setTab('security', 'Настройки безопасности')
						+setTab('keyholder', 'Управление ключами')
						+setTab('agreement', 'Лицензионное соглашение')
						+setTab('delete', 'Удаление аккаунта')
					
					+setConts
						+setCont(mods=['show'])
							+pageTitle(3, 'Настройки аккаунта')(mods=['settings'])
							+form('accountSettings')
								+setText('E-mail')(mods=['fat'])
								+setText('Если необходимо, укажите новую электронную почту')(mods=['margined'])
								+input('email')(
									mods=['settings', 's-margined']
									name='email'
									autocomplete='on'
									errors=[
										['no-mail','Введите e-mail'],
										['reged-mail', 'Данный e-mail уже зарегистрирован'],
										['wrong-mail', 'Введенный e-mail имеет неверный формат']
									])
								+checkbox('noEmailNotification', 'Отключить уведомления по e-mail')(mods=['s-margined'])
								+setText('Текущий пароль')(mods=['fat'])
								+setText('Чтобы изменения вступили в силу, введите текущий пароль')(mods=['margined'])
								+input('password')(
									mods=['settings', 's-margined']
									autocomplete='on'
									name='password'
									errors=[
										['no-pass','Введите пароль'],
										['wrong-pass', 'Неверный пароль']
									])
								+btn-submit('Применить изменения')(
									mods=['reg', 'lefted'])
						
						+setCont
							+pageTitle(3, 'Настройки безопасности')(mods=['settings'])
							+form('securitySettings')
								+pageTitle(3, 'Изменение пароля')

								+setText('Текущий пароль')(mods=['fat'])
								+setText('Чтобы изменения вступили в силу, введите текущий пароль')(mods=['margined'])
								+input('password')(
									mods=['settings', 's-margined']
									autocomplete='on'
									name='password'
									errors=[
										['no-pass','Введите пароль'],
										['wrong-pass', 'Неверный пароль']
									])

								+setText('Новый пароль')(mods=['fat'])
								+setText('Пароль не должен быть короче 8 символов')(mods=['margined'])
								+input('password')(
									mods=['settings', 's-margined']
									autocomplete='on'
									name='password'
									errors=[
										['no-pass','Введите пароль'],
										['wrong-pass', 'Неверный пароль']
									])

								+setText('Новый пароль еще раз')(
									mods=['fat', 'margined'])
								+input('password')(
									mods=['settings', 's-margined']
									autocomplete='on'
									name='password'
									errors=[
										['no-pass','Введите пароль'],
										['wrong-pass', 'Неверный пароль']
									])

								+btn-submit('Применить изменения')(
									mods=['reg', 'lefted'])

						+setCont
							+pageTitle(3, 'Ключница')(mods=['settings'])
							+keyholder
								+khItem('Вконтакте', 'img', 'Оболбос Оболбосов')
								+khItem('Вфейсбуке', false, 'Оболбос Оболбосов')
								+khItem('Вфейсбуке', false, 'Оболбос Оболбосов')
								+khItem('Вфейсбуке', false, 'Оболбос Оболбосов')

							+pageTitle(3, 'Привязать аккаунт')
							+setText('Привязка учетных записей социальных сетей (можно сразу нескольких) к аккаунту позволит Вам входить в проект в один клик.')(mods=['margined'])
							+social('righted')
								+socItem('vk', 'Vkontakte', '#')(mods=['linked'])
								+socItem('fb', 'Facebook', '#')(mods=['linked'])
								+socItem('tw', 'Twitter', '#')
								+socItem('gp', 'Google Plus', '#')
								+socItem('gh', 'GitHub', '#')
								+socItem('ms', 'Microsoft', '#')
								+socItem('ok', 'Odnoklassniki', '#')

						+setCont
							+pageTitle(3, 'Лицензионное соглашение')(
								mods=['settings'])
							+scrl
								+textPar('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem deleniti ipsa quia quod neque porro, eaque quisquam culpa commodi dolores.')

								+textTitle('Какой-то заголовок')
								+textPar('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem deleniti ipsa quia quod neque porro, eaque quisquam culpa commodi dolores.')
								+textPar('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem deleniti ipsa quia quod neque porro, eaque quisquam culpa commodi dolores.')

								+textTitle('1. Можно с цифрой')
								+textPar('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem deleniti ipsa quia quod neque porro, eaque quisquam culpa commodi dolores.')
								+textPar('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem deleniti ipsa quia quod neque porro, eaque quisquam culpa commodi dolores.')
								+textPar('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem deleniti ipsa quia quod neque porro, eaque quisquam culpa commodi dolores.')
								+textPar('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem deleniti ipsa quia quod neque porro, eaque quisquam culpa commodi dolores.')

								+textTitle('1. Можно с цифрой')
								+textPar('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem deleniti ipsa quia quod neque porro, eaque quisquam culpa commodi dolores.')
								+textPar('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem deleniti ipsa quia quod neque porro, eaque quisquam culpa commodi dolores.')
								+textPar('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem deleniti ipsa quia quod neque porro, eaque quisquam culpa commodi dolores.')
								+textPar('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem deleniti ipsa quia quod neque porro, eaque quisquam culpa commodi dolores.')
						
						+setCont
							+pageTitle(3, 'Удаление аккаунта')(mods=['settings'])
							+pageTitle(3, 'Вы действительно хотите удалить аккаунт?')
							+button('Удалить аккаунт')(
								mods=['keyholder', 'margined']
								data-open-hidden='confirmDelete')
							+hiddenArea('confirmDelete')
								+form('confirmDelete')
									+setText('Чтобы подтвердить удаление аккаунта введите текущий пароль')(mods=['margined'])
									+input('password')(
										mods=['settings', 's-margined']
										name='password'
										errors=[
											['no-pass','Введите пароль'],
											['wrong-pass', 'Неверный пароль']
										])
									+btn-submit('Подтвердить удаление')(
										mods=['reg', 'lefted'])

			+modal('editProfile')(
				id='editProfile')
				+profileSets('avatar', 'Obolduy')
					+psLine('Город', 'city')
						+select('city')(
							id='profileCity'
							mods=['city'])

					+psLine('Пол', 'gender')
						+radio('gender', 'male', 'Мужской')(
							mods=['lower-case'])
						+radio('gender', 'female', 'Женский')(
							mods=['lower-case'])

					+psLine('Возраст', 'age')
						+radio('age', '17-', '< 17')(
							mods=['lower-case'])
						+radio('age', '18-30', '18 - 30')(
							mods=['lower-case'])
						+radio('age', '30-50', '30 - 50')(
							mods=['lower-case'])
						+radio('age', '50+', '> 50')(
							mods=['lower-case'])

					+psLine('Образование', 'edu')
						+radio('education', 'secindary', 'Среднее')(
							mods=['lower-case'])
						+radio('education', 'technical', 'Техническое')(
							mods=['lower-case'])
						+radio('education', 'higher', 'Высшее')(
							mods=['lower-case'])
						+radio('education', 'degree', 'Ученая степень')(
							mods=['lower-case'])

					+psLine('Статус', 'status')
						+radio('married', 'no', 'Холост / не замужем')(
							mods=['lower-case'])
						+radio('married', 'yeas', 'Женат / замужем')(
							mods=['lower-case'])

					+psLine('Карьера', 'career')
						+radio('career', 'staff', 'Штатный сотрудник')(
							mods=['lower-case'])
						+radio('career', 'chief', 'Руководитель среднего звена')(
							mods=['lower-case'])
						+radio('career', 'masterChief', 'Топ-менеджер')(
							mods=['lower-case'])
						+radio('career', 'businessman', 'Предприниматель')(
							mods=['lower-case'])
						+radio('career', 'freelancer', 'Фрилансер')(
							mods=['lower-case'])
						+radio('career', 'idler', 'Безработный')(
							mods=['lower-case'])

					+psLine('Религия', 'religion')
						+radio('religion', 'christianity', 'Христианство')(
							mods=['lower-case'])
						+radio('religion', 'islam', 'Ислам')(
							mods=['lower-case'])
						+radio('religion', 'judaism', 'Иудаизм')(
							mods=['lower-case'])
						+radio('religion', 'buddhism', 'Буддизм')(
							mods=['lower-case'])
						+radio('religion', 'hinduism', 'Индуизм')(
							mods=['lower-case'])
						+radio('religion', 'ateism', 'Атеизм')(
							mods=['lower-case'])
						+radio('religion', 'otherRel', 'Другое')(
							mods=['lower-case'])

					+psLine('Политика', 'politics')
						+radio('politics', 'apple', false)(
							src='apple'
							alt='Яблоко')
						+radio('politics', 'er', false)(
							src='er'
							alt='Единая Россия')
						+radio('politics', 'kprf', false)(
							src='kprf'
							alt='КПРФ')
						+radio('politics', 'ldpr', false)(
							src='ldpr'
							alt='ЛДПР')
						+radio('politics', 'pd', false)(
							src='pd'
							alt='Правое дело')
						+radio('politics', 'pr', false)(
							src='pr'
							alt='Патриоты России')
						+radio('politics', 'sr', false)(
							src='sr'
							alt='Справедливая Россия')
						+radio('politics', 'otherPol', 'Другое')(
							mods=['lower-case'])

			+modal('commenterInfo')(
				id='commenterInfo')
				+commenter('avatar', 'Obolduy')
					+cHalf
						+cLine('Город', 'city', 'Санкт-Петербург')
						+cLine('Пол', 'gender', '-')(lower='')
						+cLine('Возраст', 'age', '< 17')(lower='')
						+cLine('Образование', 'edu', '-')(lower='')

					+cHalf
						+cLine('Статус', 'status', 'Холост / не замужем')(lower='')
						+cLine('Карьера', 'career', 'Безработный')(lower='')
						+cLine('Религия', 'religion', 'Другое')(lower='')
						+cLine('Политика', 'politics', false, 'ldpr')(lower='')

		+error('Медведеву не нравится, когда в него тыкают!')

		if quote === true
			+quote('Законопроект вводит жесткие нормы и требования к коллекторам, банкам, микрофинансовым организациям, а также к другим кредиторам при взаимодействии с должниками.', '/img/medved.png')

		if page_id === 'index' || page_id === 'law'
			+upBtn
		
		script(
			src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
		script window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
		script(
			src='js/main.js')