//- includes
include svg-sprite

include ../header/header
include ../main/main
include ../footer/footer

include ../logo/logo
include ../navigation/navigation
include ../btn/btn
include ../burger/burger
include ../main-text/main-text
include ../small-title/small-title
include ../promo/promo
include ../act/act
include ../rating/rating
include ../voiting/voiting
include ../color-bar/color-bar
include ../detail/detail
include ../about-act/about-act
include ../diagram/diagram
include ../type-tabs/type-tabs
include ../scrl-area/scrl-area
include ../text/text
include ../sides/sides
include ../section/section
include ../opinion/opinion
include ../usage/usage
include ../comment/comment
include ../textarea/textarea
include ../btn-submit/btn-submit
include ../pagination/pagination
include ../number/number
include ../social/social
include ../modal/modal
include ../rate/rate
include ../about-act/chronos
include ../breadcrumbs/breadcrumbs
include ../expand/expand
include ../soc-enter/soc-enter
include ../input/input
include ../checkbox/checkbox
include ../form/form
include ../login/login
include ../close/close
include ../feedback/feedback
include ../white-modal/white-modal
include ../timeline/timeline
include ../quote/quote
include ../error/error
include ../page/page
//- include ../stat-diagram/stat-diagram
include ../one-stat/one-stat
include ../search/search
include ../one-news/one-news
include ../news-single/news-single
include ../extended-search/extended-search
include ../select/select
include ../datepicker/datepicker
include ../range/range
include ../one-law/one-law
include ../status-bar/status-bar
include ../doer/doer
include ../confirmation/confirmation
include ../upload-btn/upload-btn
include ../profile/profile
include ../info/info
include ../gang/gang
include ../loader/loader
include ../crop/crop
include ../button/button
include ../law-filter/law-filter

include ../klichko/klichko

block page_id

<!DOCTYPE html>
html(lang='ru')
	head
		block title
		include head
	body.page
		+header
			+burger
			+logo('header')
			+navigation
				+navItem('Законы', true)
				+navItem('Новости', '/news.html')
				+navItem('Пользователи', '/users.html')
				+navItem('Обратная связь', 'btn')(data-modal-link='#feedback')
			+btn('Войти / Зарегистрироваться', 'person')(
				data-modal-link='#login')

		block content

		+footer
			+logo('footer')
			+social
				+socItem('vk', 'Мы в VKontakte', 'http://vk.com/')
				+socItem('fb', 'Мы в Facebook', 'http://facebook.com/')
		
		.page__modals
			+modal('Обратная связь', true)(id='feedback')
				+form('userFeedback')(id='userFeedback')

			+modal('login')
				+login('Личный кабинет')
					+form('userLogin')(
						id='userLogin'
						mods=['show', 'login'])

						// ошибки включаются добавлением модификатора с названием элемента ошибки к .input
						// то есть если к .input добавить input--no-login, то появится ошибка "введите логин" и тд.
						// ошибки на этом поле
						// input--no-login
						+input('text')(
							placeholder='Введите логин'
							name='login'
							errors=[['no-login', 'Введите логин']])

						// ошибки на этом поле
						// input--no-pass
						+input('password')(
							placeholder='Введите пароль'
							name='password'
							errors=[['no-pass','Введите пароль']]
							mods=['margined'])
						+checkbox('remember', 'Запомнить меня')(mods=['no-margin'])
						button.form__forgot(
							type='button'
							data-modal-link='#forgot') Забыли пароль?
						+btn-submit('Войти')(mods=['enter'])

					+form('userReg')(
						id='userReg'
						mods=['login'])

						// ошибки на этом поле
						// input--no-login
						// input--reged-login
						// input--short-login
						+input('text')(
							placeholder='Введите логин'
							name='login'
							errors=[
								['no-login','Введите логин'],
								['reged-login', 'Логин занят'],
								['short-login', 'Логин должен быть длиннее 3 символов']
							])
						+input('email')(
							placeholder='Введите e-mail'
							name='email'
							errors=[
								['no-mail','Введите e-mail'],
								['reged-mail', 'Данный e-mail уже зарегистрирован'],
								['wrong-mail', 'Введенный e-mail имеет неверный формат']
							])

						// ошибки на этом поле
						// input--no-pass
						// input--short-pass
						+input('password')(
							placeholder='Введите пароль'
							name='password'
							errors=[
								['no-pass','Введите пароль'],
								['short-pass', 'Пароль не должен быть короче 6 символов']
							]
							mods=['margined'])
						.recapcha
						+btn-submit('Зарегистрироваться')(mods=['reg'])

			+modal('forgot')
				+fBack('Забыли пароль?')
					+form('forgotPass')
						p.form__text
							| Не может вспомнить пароль для входа в свой аккаунт?
							br
							| Введите Ваш e-mail в форму ниже, и мы отправим его Вам на почту.

						// ошибки на этом поле
						// input--no-email
						// input--not-reged-email
						// input--wrong-mail
						+input('email')(
							placeholder='Введите e-mail'
							name='email'
							errors=[
								['no-mail','Введите e-mail'],
								['not-reged-mail', 'Данный e-mail не зарегистрирован'],
								['wrong-mail', 'Введенный e-mail имеет неверный формат']
							])
						+btn-submit('Отправьте мне пароль!')(mods=['ask-pass'])

			+modal('feedback')
				+fBack('Обратная связь')
					+form('userFeedback')
						+input('email')(
							placeholder='Введите e-mail'
							name='email'
							errors=[
								['no-mail','Введите e-mail'],
								['wrong-mail', 'Введенный e-mail имеет неверный формат']
							])
						+textarea(
							placeholder='Введите текст комментария'
							name='comment'
							mods=['modal'])
						+btn-submit('Отправить сообщение')(mods=['feedback'])

			
			+modal('voteCounted')(id='voteCounted')
				+wModal('Спасибо, Ваш голос учтен!')
					+form('voting')
						+rate
						+textarea(
							label='Оставьте комментарий:'
							placeholder='Введите текст комментария'
							name='comment'
							mods=['modal'])
						+btn-submit('Оставить комментарий')(mods=['modal'])

			+modal('suggestPlus')(id='suggestPlus')
				+wModal('Предложить плюс:')
					+form('comment')
						+textarea(
							placeholder='Введите текст комментария'
							name='comment'
							mods=['modal'])
						+btn-submit('Оставить комментарий')(mods=['modal'])

			+modal('suggestMinus')(id='suggestMinus')
				+wModal('Предложить минус:')
					+form('comment')
						+textarea(
							placeholder='Введите текст комментария'
							name='comment'
							mods=['modal'])
						+btn-submit('Оставить комментарий')(mods=['modal'])

			+modal('confirmEmail')(
				id='confirmEmail')
				+wModal('Подтверждение e-mail адреса', 'Чтобы подтвердить регистрацию, пожалуйста, введите проверочный код, который пришел Вам на e-mail')(mods=['left-title'])
					+form('confirmEmail')(mods=['confirm'])

						// ошибки на этом поле
						// input--wrong-code
						+input('text')(
							name='mail'
							errors=[
								['wrong-code', 'Код введен неверно']
							])
						+btn-submit('Подтвердить e-mail')(mods=['confirm'])

			+modal('uploadPhoto')(
				id='uploadPhoto')
				+wModal('Загрузка новой фотографии', 'Друзьям будет проще узнать Вас, если Вы загрузите свою настоящую фотографию. Вы можете загрузить изображение в формате JPG, JPEG или PNG.')
					+loader

			+modal('crop')(
				id='crop'
				mods=['crop'])
				+wModal('Обрезка фотографии', 'Выбранная область будет показываться на Вашей странице. Если изображение ориентировано неправильно, фотографию можно повернуть.')(mods=['crop', 'left-title'])
					+crop
					+form('crop')
						+input('hidden')(mods=['no-margin'])
						//- +btn-submit('Загрузить изображение')(
						//- 	mods=['crop']
						//- 	id='uploadCrop')
						+button('Загрузить изображение')(
							id='uploadCrop'
							mods=['center'])

			+modal('wrongFile')(
				id='wrongFile')
				+wModal('Неверный формат фото', 'Вы пытаетесь загрузить фото неверного расширения (или вообще не фото). Допустимые форматы - JPG, JPEG, PNG')
					+button('Ок')(
						data-act='closeModal'
						mods=['center'])

			+modal('tooBigFile')(
				id='tooBigFile')
				+wModal('Слишком большое фото', 'Вы пытаетесь загрузить слишком большую фотографию. Размер фото не должен превышать 5МБ.')
					+button('Ок')(
						data-act='closeModal'
						mods=['center'])

			+modal('editProfile')(id='editProfile')

		+error('Медведеву не нравится, когда в него тыкают!')

		//- if withKlichko === true
		//- 	+klichko
		if quote === true
			+quote('Законопроект вводит жесткие нормы и требования к коллекторам, банкам, микрофинансовым организациям, а также к другим кредиторам при взаимодействии с должниками.', '/img/medved.png')
		
		script(
			src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
		script window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
		script(
			src='js/main.js')