mixin profile(name)
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'profile--' + mod

	.profile(class=mods)
		if attributes['no-photo'] === ''
			// если фото нет, то добавить класс profile__face--no-photo
			.profile__face.profile__face--no-photo
				img.profile__no-img(
					src='/img/profile__img.png'
					alt='')
				img.profile__img(
					src='http://placehold.it/300?text=no+photo'
					alt='')
				+uploadBtn('Загрузить новую фотографию')(
					accept='image/jpg, image/jpeg, image/png'
					mods=['profile']
					id='upload')
		
		else
			// если фото нет, то добавить класс profile__face--no-photo
			.profile__face
				img.profile__img(
					src='http://placehold.it/300?text=no+photo'
					alt='')
				img.profile__no-img(
					src='/img/profile__img.png'
					alt='')
				+uploadBtn('Загрузить новую фотографию')(
					accept='image/jpg, image/jpeg, image/png'
					mods=['profile']
					id='upload')

		.profile__desc
			.profile__header
				p.profile__name!=name
				button.profile__edit-btn(
					type='button'
					data-modal-link='#editProfile') изменить информацию
			.profile__info
				if block
					block
			.profile__footer
				p.profile__text Партии, которые придерживаются<br>такого же мнения о законах:
				+gang('sr', '17,5')(mods=['fourth'])
				+gang('ldpr', '25,3')(mods=['second'])
				+gang('kprf', '35,1')(mods=['first'])
				+gang('er', '22,1')(mods=['third'])


	.page__laws
		.page__header
			+search(
				placeholder='Поиск новостей по ключевой фразе'
				autocomplete='true')

			+extendedSearch
				+esItem('Тематика')
					+select('subj')(
						multiple='multiple'
						id='subj')
						+sOption('mvd', 'МВД')
						+sOption('gibdd', 'ГИБДД')
						+sOption('medicine', 'Медицина')
						+sOption('finance', 'Финансы и рынки')
						+sOption('policy', 'Политика')
						+sOption('education', 'Образование')
						+sOption('military', 'Вооруженные силы')
						+sOption('realty', 'Недвижимость')
						+sOption('manRights', 'Права человека')
						+sOption('smallMidBusiness', 'Малый и средний бизнес')
			
				+esItem('Период публикации')
							+datepicker(
								id='publStart'
								mods=['half', 'start'])
							+datepicker(
								id='publEnd'
								mods=['half', 'end'])

				+esItem('Плюсы')(mods=['half'])
					+range('pluses')(mods=['green'])

				+esItem('Минусы')(mods=['half'])
					+range('minuses')(mods=['red'])

				+esItem('Статус')
					+select('status')(
						multiple='multiple'
						id='status')
						+sOption('firstStage', 'Внесение в ГД')
						+sOption('secondStage', 'Предв. рассмотрение')
						+sOption('thirdStage', 'Первое чтение')
						+sOption('fourthStage', 'Второе чтение')
						+sOption('fifthStage', 'Третье чтение')
						+sOption('sixthStage', 'Рассмотрение в СФ')
						+sOption('seventhStage', 'Рассмотрение президентом')
						+sOption('eighth', 'Опубликование')

			+lawFilter

		.page__laws--laws

			+pageNothing('По Вашему запросу ничего не найдено')

			+oneLaw('/law-single.html', 'gibdd', [['ЕР', 'didnt'], ['КПРФ', 'for'], ['ЛДПР', 'against'], ['СР', 'for']], 1,
				'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
				'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 53, 6, -4.5)
				
			+oneLaw('/law-single.html', 'minfin', [['ЕР', 'didnt'], ['КПРФ', 'for'], ['ЛДПР', 'against'], ['СР', 'for']], 1,
				'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
				'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 153, 6, -2)
				
			+oneLaw('/law-single.html', 'minobr', [['ЕР', 'didnt'], ['КПРФ', 'for'], ['ЛДПР', 'against'], ['СР', 'for']], 1,
				'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
				'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 3, 123, -1.5)
				
			+oneLaw('/law-single.html', 'minstroy', [['ЕР', 'didnt'], ['КПРФ', 'for'], ['ЛДПР', 'against'], ['СР', 'for']], 1,
				'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
				'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 153, 226, 0)
				
			+oneLaw('/law-single.html', 'minzdrav', [['ЕР', 'didnt'], ['КПРФ', 'for'], ['ЛДПР', 'against'], ['СР', 'for']], 1,
				'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
				'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 3, 0, 2)
				
			+oneLaw('/law-single.html', 'mvd', [['ЕР', 'didnt'], ['КПРФ', 'for'], ['ЛДПР', 'against'], ['СР', 'for']], 1,
				'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
				'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 53, 46, 2.5)
				
			+oneLaw('/law-single.html', 'rf', [['ЕР', 'didnt'], ['КПРФ', 'for'], ['ЛДПР', 'against'], ['СР', 'for']], 1,
				'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
				'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 53, 6, 3)
				
			+oneLaw('/law-single.html', 'vs', [['ЕР', 'didnt'], ['КПРФ', 'for'], ['ЛДПР', 'against'], ['СР', 'for']], 1,
				'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
				'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 53, 6, 4.5)
				
			+oneLaw('/law-single.html', 'mineconom', [['ЕР', 'didnt'], ['КПРФ', 'for'], ['ЛДПР', 'against'], ['СР', 'for']], 1,
				'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
				'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 53, 6, 4.5)