mixin oneLaw(link, icon, voteRess, status, title, text, date, datetime, commNums, pluses, minuses, rating)
	article.one-law
		a.one-law__link(
			href=link
			title='Перейти к закону')
		.one-law__header
			.one-law__face
				img.one-law__img(
					src='/img/one-law__banner--'+icon+'.png'
					alt='')
			.one-law__stats
				+statusBar(status)
				.one-law__results
					each item in voteRess
						case item[1]
							when 'didnt'
								p.one-law__result.one-law__result--gray
									| #{item[0]} - Не голосовали
							when 'for'
								p.one-law__result.one-law__result--green
									| #{item[0]} - За
							when 'against'
								p.one-law__result.one-law__result--red
									| #{item[0]} - Против

		.one-law__body
			h3.one-law__title!=title
			.one-law__text
				p!=text
		.one-law__foot
			.one-law__footer
				.one-law__half
					p.one-law__text Дата публикации:
					time.one-law__text.one-law__text--bold(datetime=datetime)=date
				.one-law__half.one-law__half--grades
					.one-law__grades.one-law__grades--green
						span=pluses
					.one-law__grades.one-law__grades--red
						span=minuses
			.one-law__footer
				.one-law__half.one-law__half--comms
					p.one-law__text Комментариев:
					p.one-law__text.one-law__text--bold=commNums
				.one-law__half
					p.one-law__text.one-law__text--bold
						| Оценка
						br
						| пользователей:
						if rating < 0
							span.one-law__grade.one-law__grade--red=rating * -1
						else if rating === 0
							span.one-law__grade.one-law__grade--gray=rating
						else if rating > 0
							span.one-law__grade.one-law__grade--green=rating