//- types:
//- 	bars
//- 	diagram
//- 	diagram-deputy
//- 	lines

//- places:
//- 	main - index.jade

mixin diagram(place, type, descr)
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'diagram--' + mod

	if type === 'stat'
		.diagram(
			class=attributes.class
			class=mods)
			.diagram__showing(
				class='diagram__showing--'+type)
				img.diagram__img(
					class='diagram__img--'+type
					src='img/diagram__pie.png')
				if place === 'main' && (type === 'pie' || type === 'pie-deputy')
					+dLega
				if descr
					p.diagram__description!=descr
			.diagram__legends
				if block
					block
	else if type === 'bars'
		.diagram(
			class=attributes.class
			class=mods)
			.diagram__showing(
				class='diagram__showing--'+type)
				img.diagram__img(
					class='diagram__img--'+type
					src='img/diagram__bars.png')
				if place === 'main' && (type === 'pie' || type === 'pie-deputy')
					+dLega
			if descr
				p.diagram__description!=descr
	else
		.diagram(
			class=attributes.class
			class=mods)
			.diagram__showing(
				class='diagram__showing--'+type)
				img.diagram__img(
					class='diagram__img--'+type
					src='img/diagram__pie.png')
				if place === 'main' && (type === 'pie' || type === 'pie-deputy')
					+dLega
			if descr
				p.diagram__description!=descr

mixin legItem(color, text, gray)
	p.diagram__legend(class='diagram__legend--'+color)
		!=text
		| , 
		span.diagram__legend--gray!=gray

mixin dLega
	ul.diagram__lega
		li.diagram__l-item.diagram__l-item--434348 За - 12
		li.diagram__l-item.diagram__l-item--90ed7d Против - 24
		li.diagram__l-item.diagram__l-item--f7a35c Воздержались - 1