mixin textarea
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'textarea--' + mod
	.textarea(class=mods)
		textarea.textarea__input(
			name=attributes.name
			id=attributes.id
			placeholder=attributes.placeholder
			required=attributes.required)