mixin act
	section.act
		.act__wrapper
			if block
				block

mixin actParam(title, text)
	if block
		.act__param
			+sTitle(title)
			p.main-text
				block
	else
		.act__param
			+sTitle(title)
			+mText(text)

mixin actFace
	.act__face
		img.act__img(
			src='http://cont.ws/uploads/pic/2016/4/dc77208950025a3282c3d8c851444709.jpg'
			alt='Исображение документа')
		if block
			block

mixin actDesc(title)
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'act__desc--' + mod

	.act__desc(class=mods)
		h2.act__title!=title
		.act__date
			p.act__date-time
				| Опубликован: 
				time.act__date-time--fat(
					datetime='2016-03-18') 18.03.2016
		if block
			block
			
mixin actDownload
	.act__download
		// классы значков форматов:
		// pdf - act__link--pdf
		// doc - act__link--doc
		// docx - act__link--docx
		a.act__link.act__link--docx(
			href='#'
			download) Полный текст
		//- span.act__download-statistic (скачали 18 953 раз)

mixin actAutor(autors)
	-var i = 0
	p.act__autors
		each link, autor in autors
			a.act__autor(
				href=link
				target='_blank')=autor