mixin cBar(foor, neutral, against)
	.color-bar
		.color-bar__strips
			// красной и зеленой полоскам задается ширина, серая меняется сама
			// зеленая полоса (за)
			.color-bar__green(
				style='width:'+foor+'%')
			.color-bar__gray
			// красная полоса (против)
			.color-bar__red(
				style='width:'+against+'%')
			.color-bar__strip-bar
		.color-bar__numbers
			.color-bar__number.color-bar__number--for(
				style='width:'+foor+'%')=foor
			.color-bar__number.color-bar__number--neutral=neutral
			.color-bar__number.color-bar__number--against(
				style='width:'+against+'%')=against