mixin comment(img, name, date, datetime, likes, text)
	.comment
		// если фото нет, то добавить модификатор .comment__face--no-photo
		if attributes['no-photo'] === ''
			.comment__face.comment__face--no-photo
				img.comment__img(
					src!=img
					alt='')
				// если коммент лайкнут, то у него есть класс comment__like--liked
				if attributes.liked
					span.comment__like.comment__like--liked=likes
				else
					span.comment__like=likes
		else
			.comment__face
				img.comment__img(
					src!=img
					alt='')
				// если коммент лайкнут, то у него есть класс comment__like--liked
				if attributes.liked
					span.comment__like.comment__like--liked=likes
				else
					span.comment__like=likes
		p.comment__name!=name
		time.comment__date(
			datetime!=datetime)=date
		.comment__letter
			+expand(3)
				p.comment__text!=text