mixin comment(img, name, date, datetime, likes, text)
	.comment
		.comment__face
			img.comment__img(
				src!=img
				alt='')
			// если коммент лайкнут, то у него есть класс comment__like--liked
			if attributes.liked
				span.comment__like.comment__like--liked=likes
			else
				span.comment__like=likes
		p.comment__name!=name
		time.comment__date(
			datetime!=datetime)=date
		p.comment__text(draggable='true')!=text