mixin abAct
	section.about-act
		.about-act__wrapper
			if block
				block

mixin abActTab(title, isBtn)
	if isBtn === true
		// этот линк ведет на страницу с обсуждением закона, виден только на мобилках
		a.about-act__tab.about-act__tab--btn(
			href='#comments')!=title
	else
		button.about-act__tab(
			class=attributes.class
			type='button')!=title

mixin abActCont(title, isBtn)
	if isBtn === true
		.about-act__content.about-act__content--btn
			// этот линк прокручивает экран к комментам, виден на планшетах и десктопах
			a.about-act__cont-title.about-act__cont-title--btn(
				href='/discuss.html')!=title
	else
		.about-act__content(class=attributes.class)
			h4.about-act__cont-title!=title
			.about-act__cont-content
				.about-act__inner
					if block
						block

mixin abActLeg(title, color)
	span.about-act__legend(
		class='about-act__legend--'+color)!=title