mixin rate
	.rate
		.rate__content
			p.rate__title Оцените закон:
			.rate__stars
				label.rate__label
					input.rate__input(
						type='radio'
						name='userRate'
						value='5')
				label.rate__label
					input.rate__input(
						type='radio'
						name='userRate'
						value='4')
				label.rate__label
					input.rate__input(
						type='radio'
						name='userRate'
						value='3')
				label.rate__label
					input.rate__input(
						type='radio'
						name='userRate'
						value='2')
				label.rate__label
					input.rate__input(
						type='radio'
						name='userRate'
						value='1')