mixin opinion
	.opinion
		if block
			block

mixin opItem(img, name, link)
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'opinion__item--' + mod

	.opinion__item(class=mods)
		.opinion__face
			// изображения необходимо кропать под квадрат
			img.opinion__img(
				src=img
				alt='Фото эксперта')
		blockquote.opinion__bq
			if block
				block
			cite.opinion__name
				a(
					href!=link
					target='_blank')!=name

mixin opItemPar(text)
	p.opinion__text!=text

mixin opTab(img)
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'opinion__tab--' + mod
	.opinion__tab(class=mods)
		img.opinion__thumb(
			src=img
			alt='')