mixin opinion
	.opinion
		if block
			block

mixin opItem(img, name, link)
	.opinion__item
		.opinion__face
			// изображения необходимо кропать под квадрат
			img.opinion__img(
				src=img
				alt='Фото эксперта')
		blockquote.opinion__bq
			if block
				block
			cite.opinion__name
				a(
					href!=link
					target='_blank')!=name

mixin opItemPar(text)
	p.opinion__text!=text