mixin select(subj)
	if attributes.mods
		-var mods = []
		each mod, i in attributes.mods
			-mods[i] = 'select--' + mod

	.select(
		class=mods
		style='width:'+attributes.width+'%')
		select.select__select(
			id=attributes.id
			name=subj
			style='width:50%'
			multiple=attributes.multiple)
			if block
				block

mixin sOption(value, title)
	option.select__option(value=value)!=title