extends ../blocks/template/template

block page_id
	-var page_id		= 'discuss'
	-var withKlichko	= false
	-var qoute			= false

block title
	title Обсуждение

block content
	+main(class='main--discuss')
		+act
			+actDesc('Закон о коллекторах')(
				discuss='true'
				mods=['fullwidth'])
				.act__text-desc
					+expand(9)
						+mText('Законопроект вводит жесткие нормы и требования к коллекторам, банкам, микрофинансовым организациям, а также к другим кредиторам при взаимодействии с должниками. Предусматривается запрет на применение физической силы, угрозы ее применения, причинение вреда здоровью и имуществу, психологическое давление и введение в заблуждение. Коллекторы отныне не вправе распространять информацию о долге третьим лицам, в том числе родственникам и сослуживцам должника, а также размещать такого рода сведения в интернете, на стенах зданий или жилых домов. Также документ содержит в себе ряд требований, которым должна соответствовать организация по взысканию долгов. Одновременно с этим ужесточается ответственность за несоблюдение указанных норм.')(class='act__text')
						+mText('Законопроект вводит жесткие нормы и требования к коллекторам, банкам, микрофинансовым организациям, а также к другим кредиторам при взаимодействии с должниками. Предусматривается запрет на применение физической силы, угрозы ее применения, причинение вреда здоровью и имуществу, психологическое давление и введение в заблуждение. Коллекторы отныне не вправе распространять информацию о долге третьим лицам, в том числе родственникам и сослуживцам должника, а также размещать такого рода сведения в интернете, на стенах зданий или жилых домов. Также документ содержит в себе ряд требований, которым должна соответствовать организация по взысканию долгов. Одновременно с этим ужесточается ответственность за несоблюдение указанных норм.')(class='act__text')

			+voiting
				.voiting__btns
					+btn('Проголосовать &laquo;За&raquo;', 'thumb-up')(data-modal-link='#voteCounted')
					+btn('Проголосовать &laquo;Против&raquo;', 'thumb-down')(data-modal-link='#voteCounted')
					+btn('Воздержаться', 'neutral')(data-modal-link='#voteCounted')
				.voiting__text
					// после двоеточия может быть "за" || "против" || "воздержался"
					p Ваш голос: За
				.voiting__bar
					+cBar(79, 104, 345)

		+section('Что Вы думаете по этому поводу?')(id='comments')
			.page__comments
				+comment(
					'http://www.parkplacehomesonline.com/wp-content/uploads/2014/03/faceholder.png',
					'TheDark KNIGHT',
					'05.03.2016 08:36',
					'2016-03-05T08:36',
					15,
					'Деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Что дополняет вторую строку моего коментария.')(liked)
				+comment(
					'http://www.parkplacehomesonline.com/wp-content/uploads/2014/03/faceholder.png',
					'TheDark KNIGHT',
					'05.03.2016 08:36',
					'2016-03-05T08:36',
					235,
					'Деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Что дополняет вторую строку моего коментария. Деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Что дополняет вторую строку моего коментария. Деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Что дополняет вторую строку моего коментария.')
				+comment(
					'http://www.parkplacehomesonline.com/wp-content/uploads/2014/03/faceholder.png',
					'TheDark KNIGHT',
					'05.03.2016 08:36',
					'2016-03-05T08:36',
					1,
					'Деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Что дополняет вторую строку моего коментария.')
				+comment(
					'http://www.parkplacehomesonline.com/wp-content/uploads/2014/03/faceholder.png',
					'TheDark KNIGHT',
					'05.03.2016 08:36',
					'2016-03-05T08:36',
					79,
					'Деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Что дополняет вторую строку моего коментария.')
				+comment(
					'http://www.parkplacehomesonline.com/wp-content/uploads/2014/03/faceholder.png',
					'TheDark KNIGHT',
					'05.03.2016 08:36',
					'2016-03-05T08:36',
					22,
					'Деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Что дополняет вторую строку моего коментария.')
			+pag(2, 50)(mods=['news', 'news-single'])
			form.page__leave-comment(
				action='#'
				name='leaveComment')
				+textarea(
					name='commentMessage'
					id='comment'
					placeholder='Оставить комментарий'
					required='')
				+btn-submit('Комментировать')