extends ../blocks/template/template

block page_id
	-var page_id		= 'doer'
	-var withKlichko	= false
	-var qoute			= false

block title
	title Пользователи

block content
	+main(class='main--bg')
		.page__content
			+breadcrumbs
				+brItem('Пользователи', '#')
				+brItem('Депутаты', '#')
				+brItem('ЛДПР', '#')
				+brItem('Жириновский Владимир Вольфович', '')

			+pageTitle(1, 'Жириновский Владимир Вольфович')

		.page__doer
			+doer
				+dFace('/img/doer__img--zhir.jpg')
					+dRow
						+stars(37)
						+paragraph('Голосовало 345 человек')(mods=['doer', 'ml10'])
					+dRow
						+paragraph('Выступления депутата (3 987)')(
							data-icon='clouds'
							mods=['doer'])
					+dRow
						+paragraph('Законопроекты депутата (210)')(
							data-icon='papers'
							mods=['doer'])
					+dRow
						+paragraph('Голосования депутата')(
							data-icon='voting'
							mods=['doer'])

				+dInfo
					+dDesc
						+dText('Депутат Государственной Думы избран в составе федерального списка кандидатов, выдвинутого Политической партией «Либерально - демократическая партия России»')(
							mods=['mb20'])
						+dText('Руководитель фракции Политической партии «Либерально-демократическая партия России»')(
							data-icon='blue-arrow')
						+dText('Член комитета ГД по обороне')(
							data-icon='blue-arrow'
							mods=['mb20'])
					
					+dBlock
						+dTitle('Дата начала полномочий')
						+dText('4 декабря 2011 года (шестой созыв)')
					
					+dBlock
						+dTitle('Дата рождения')
						+dText('25 апреля 1946 года')
					
					+dBlock
						+dTitle('Связь с избирателями в регионах РФ')
						+dText('Все субъекты Российской Федерации')(
							data-icon='black-arrow')
						+dText('Республика Крым')(
							data-icon='black-arrow')
						+dText('Город Севастополь')(
							data-icon='black-arrow')
					
					+dBlock
						+dTitle('Образование')
						+dText('Московский государственный университет им. М.В. Ломоносова (институт восточных языков) (1970)')(
							data-icon='black-arrow')
						+dText('Московский государственный университет им. М.В. Ломоносова (1977)')(
							data-icon='black-arrow')
					
					+dBlock
						+dTitle('Ученые степени')
						+dText('Доктор философских наук')(
							data-icon='black-arrow')
					
					+dBlock
						+dTitle('Ученые звания')
						+dText('Профессор')(
							data-icon='black-arrow')
						+dText('Действительный член (академик) Академии социальных наук')(
							data-icon='black-arrow')
						+dText('Действительный член (академик) Международной Академии экологии и природопользования (МАЭП)')(
							data-icon='black-arrow')
						+dText('Почетный академик Академии естествознания')(
							data-icon='black-arrow')
						+dText('Действительный член Международной Академии информатизации')(
							data-icon='black-arrow')
			
			.page__doer-has
				+paragraph('Сведения о доходах, имуществе и обязательствах имущественного характера депутата и членов его семьи за период с 01.01.2015 по 31.12.2015')(mods=['under-doer'])

				+dInsets
					+diTabs
						+diTab('Общая сумма декларированного годового дохода')(
							data-selected='true')
						+diTab('Объекты недвижимого имущества')(
							data-selected='false')
						+diTab('Транспортные средства, принадлежащие на праве собственности (вид&nbsp;и&nbsp;марка)')(
							data-selected='false')
					+diContents
						+diContent(data-show='true')
							+dTable(mods=['min300'])
								+dtRow
									+dtCell
										+paragraph('Заявитель')(
											mods=['dt-title'])
									+dtCell
										+paragraph('Сумма годового дохода, руб/год')(mods=['dt-title'])
								+dtRow
									+dtCell
										+paragraph('Жириновский Владимир Вольфович')(
											mods=['dt-text'])
									+dtCell
										+paragraph('5 000 000 000')(
											mods=['dt-text'])
								+dtRow
									+dtCell
										+paragraph('Супруга')(
											mods=['dt-text'])
									+dtCell
										+paragraph('500 000')(
											mods=['dt-text'])

						+diContent(data-show='false')
							+dTable
								+dtRow
									+dtCell
										+paragraph('Собственник')(
											mods=['dt-title'])
									+dtCell
										+paragraph('Вид имущества')(
											mods=['dt-title'])
									+dtCell
										+paragraph('Площадь, м<sup>2</sup>')(
											mods=['dt-title'])
									+dtCell
										+paragraph('Страна расположения')(
											mods=['dt-title'])
								+dtRow
									+dtCell
										+paragraph('Жириновский Владимир Вольфович')(
											mods=['dt-text'])
									+dtCell
										+paragraph('Особняк')(
											mods=['dt-text'])
									+dtCell
										+paragraph('666')(
											mods=['dt-text'])
									+dtCell
										+paragraph('Багамы')(
											mods=['dt-text'])
								+dtRow
									+dtCell
										+paragraph('Жириновский Владимир Вольфович')(
											mods=['dt-text'])
									+dtCell
										+paragraph('Особняк')(
											mods=['dt-text'])
									+dtCell
										+paragraph('666')(
											mods=['dt-text'])
									+dtCell
										+paragraph('Багамы')(
											mods=['dt-text'])
								+dtRow
									+dtCell
										+paragraph('Жириновский Владимир Вольфович')(
											mods=['dt-text'])
									+dtCell
										+paragraph('Особняк')(
											mods=['dt-text'])
									+dtCell
										+paragraph('666')(
											mods=['dt-text'])
									+dtCell
										+paragraph('Багамы')(
											mods=['dt-text'])


						+diContent(data-show='false')
							+dTable
								+dtRow
									+dtCell
										+paragraph('Собственник')(
											mods=['dt-title'])
									+dtCell
										+paragraph('Вид транпортного стредства')(
											mods=['dt-title'])
									+dtCell
										+paragraph('Марка')(
											mods=['dt-title'])
								+dtRow
									+dtCell
										+paragraph('Жириновский Владимир Вольфович')(mods=['dt-text'])
									+dtCell
										+paragraph('мото-транспортные средства')(mods=['dt-text'])
									+dtCell
										+paragraph('мотоцикл HONDA CBR 1000RR')(mods=['dt-text'])
								+dtRow
									+dtCell
										+paragraph('Супруга')(mods=['dt-text'])
									+dtCell
										+paragraph('автомобили легковые')(mods=['dt-text'])
									+dtCell
										+paragraph('Mercedes-Benz ML350')(mods=['dt-text'])
								+dtRow
									+dtCell
										+paragraph('Жириновский Владимир Вольфович')(mods=['dt-text'])
									+dtCell
										+paragraph('мото-транспортные средства')(mods=['dt-text'])
									+dtCell
										+paragraph('мотоцикл HONDA CBR 1000RR')(mods=['dt-text'])
								+dtRow
									+dtCell
										+paragraph('Супруга')(mods=['dt-text'])
									+dtCell
										+paragraph('автомобили легковые')(mods=['dt-text'])
									+dtCell
										+paragraph('Mercedes-Benz ML350')(mods=['dt-text'])

			.page__laws--ex-laws
				+paragraph('Законопроекты депутата')(mods=['under-doer'])

				+oneLaw('/law-single.html', 'gibdd', [['ЕР', 'didnt'], ['КПРФ', 'for'], ['ЛДПР', 'against'], ['СР', 'for']], 1,
					'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
					'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 53, 6, -4.5)
					
				+oneLaw('/law-single.html', 'minfin', [['ЕР', 'didnt'], ['КПРФ', 'for'], ['ЛДПР', 'against'], ['СР', 'for']], 1,
					'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
					'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 153, 6, -2)