extends ../blocks/template/template

block page_id
	-var page_id		= 'index'
	-var withKlichko	= false
	-var quote			= true

block title
	title Народная база законов

block content
	+main(class='main--bg')
		+promo
			+promoItem('toKnow', 'Узнать', 'Узнать первыми о&nbsp;новых законопроектах и отношение населения к&nbsp;новым законопроектам')
			+promoItem('toSay', 'Высказать', 'Высказать свое отношение к&nbsp;любому законопроекту')
			+promoItem('toCompare', 'Сравнить', 'Сравнить свое отношение с&nbsp;отношением своей партии к&nbsp;любому законопроекту')
			+promoItem('toChoose', 'Определиться', 'Определиться с&nbsp;выбором партии и своими политическими взглядами')
		
		+act
			+actFace
				+rating(2.5)
			+actDesc('Закон о коллекторах')
				.act__text-desc
					+expand(9)
						+mText('Законопроект вводит жесткие нормы и требования к коллекторам, банкам, микрофинансовым организациям, а также к другим кредиторам при взаимодействии с должниками. Предусматривается запрет на применение физической силы, угрозы ее применения, причинение вреда здоровью и имуществу, психологическое давление и введение в заблуждение. Коллекторы отныне не вправе распространять информацию о долге третьим лицам, в том числе родственникам и сослуживцам должника, а также размещать такого рода сведения в интернете, на стенах зданий или жилых домов. Также документ содержит в себе ряд требований, которым должна соответствовать организация по взысканию долгов. Одновременно с этим ужесточается ответственность за несоблюдение указанных норм.')(class='act__text')
						+mText('Законопроект вводит жесткие нормы и требования к коллекторам, банкам, микрофинансовым организациям, а также к другим кредиторам при взаимодействии с должниками. Предусматривается запрет на применение физической силы, угрозы ее применения, причинение вреда здоровью и имуществу, психологическое давление и введение в заблуждение. Коллекторы отныне не вправе распространять информацию о долге третьим лицам, в том числе родственникам и сослуживцам должника, а также размещать такого рода сведения в интернете, на стенах зданий или жилых домов. Также документ содержит в себе ряд требований, которым должна соответствовать организация по взысканию долгов. Одновременно с этим ужесточается ответственность за несоблюдение указанных норм.')(class='act__text')
				+actDownload
				.act__params
					//- +actParam('Тип:', 'Директива правительства')
					//- +actParam('Субъект:', 'Санкт-петербург, Ленинградская область')
					+actParam('Авторы:')
						+actAutor({
							'В.И.Матвиенко': 'doer.html',
							'С.Н.Рябухин (члены СФ)': '/doer.html',
							'С.Е.Нарышкин': '/doer.html',
							'Н.Н.Гончар (депутаты ГД)': '/doer.html',
						})
					+actParam('Статус:', 'первое чтение')
					+actParam('Номер законопроекта:', '№ 999547-6')
					+actParam('Масштаб:', 'федеральный')

			+voiting
				.voiting__btns
					+btn('Проголосовать &laquo;За&raquo;', 'thumb-up')(data-modal-link='#voteCounted')
					+btn('Проголосовать &laquo;Против&raquo;', 'thumb-down')(data-modal-link='#voteCounted')
					+btn('Воздержаться', 'neutral')(data-modal-link='#voteCounted')
				.voiting__text
					// после двоеточия может быть "за" || "против" || "воздержался"
					p Ваш голос: За
				.voiting__bar
					+cBar(79, 104, 345)

			+detail
				//- +actParam('Тип:', 'Директива правительства')
				//- +actParam('Субъект:', 'Санкт-петербург, Ленинградская область')
				+actParam('Статус:', 'первое чтение')
				+actParam('Авторы:')
					+actAutor({
						'В.И.Матвиенко': 'doer.html',
						'С.Н.Рябухин (члены СФ)': '/doer.html',
						'С.Е.Нарышкин': '/doer.html',
						'Н.Н.Гончар (депутаты ГД)': '/doer.html',
					})
				+actParam('Масштаб:', 'федеральный')
				+actParam('Номер законопроекта:', '№ 999547-6')

		+abAct
			.about-act__tabs
				+abActTab('Результаты голосований в гос. думе')(class='about-act__tab--active')
				+abActTab('Статистика по закону')
				+abActTab('Хронология закона')
				+abActTab('Обсудить закон', true)
			.about-act__contents
				+abActCont('Результаты голосований в гос. думе')
					.about-act__diagram-pack
						.about-act__diagrams
							+diagram(
								'main',
								'pie-deputy',
								'Единая Россия')(
								mods=['big-name'])
							+diagram(
								'main',
								'pie-deputy',
								'КПРФ')(
								mods=['big-name'])
							+diagram(
								'main',
								'pie-deputy',
								'Справедливая Россия')(
								mods=['big-name'])
							+diagram(
								'main',
								'pie-deputy',
								'ЛДПР')(
								mods=['big-name'])
							+diagram(
								'main',
								'pie-deputy',
								'Общая статистика по всем партиям')
					//- .about-act__legends
					//- 	+abActLeg('Проголосовали За', '7cb5ec')
					//- 	+abActLeg('Проголосовали Против', '434348')
					//- 	+abActLeg('Не голосовали', '90ed7d')
					//- 	+abActLeg('Воздержались', 'f7a35c')
				+abActCont('Статистика по закону')(class='about-act__content--show')
					+tTabs
						+tTab('Пол/возраст', true)
						+tTab('Образование')
						+tTab('Статус')
						+tTab('География')
						+tTab('Карьера')
						+tTab('Религия')
						+tTab('Политика')
					.about-act__diagram-pack
						.about-act__diagrams
							.about-act__type.about-act__type--show
								+diagram('main', 'bars', 'Мужчины')
								+diagram('main', 'bars', 'Женщины')
								.about-act__legends
									+abActLeg('Проголосовали За', '8085e9')
									+abActLeg('Проголосовали Против', 'f15c80')
									+abActLeg('Воздержались', 'e4d354')
							.about-act__type
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								.about-act__legends
									+abActLeg('Проголосовали За', '2b908f')
									+abActLeg('Проголосовали Против', 'f45b5b')
									+abActLeg('Воздержались', '91e8e1')
							.about-act__type
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								.about-act__legends
									+abActLeg('Проголосовали За', 'green')
									+abActLeg('Проголосовали Против', 'red')
									+abActLeg('Воздержались', 'gray')
							.about-act__type
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								.about-act__legends
									+abActLeg('Проголосовали За', 'green')
									+abActLeg('Проголосовали Против', 'red')
									+abActLeg('Воздержались', 'gray')
							.about-act__type
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								.about-act__legends
									+abActLeg('Проголосовали За', 'green')
									+abActLeg('Проголосовали Против', 'red')
									+abActLeg('Воздержались', 'gray')
							.about-act__type
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								.about-act__legends
									+abActLeg('Проголосовали За', 'green')
									+abActLeg('Проголосовали Против', 'red')
									+abActLeg('Воздержались', 'gray')
							.about-act__type
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								+diagram('main', 'pie', 'Описание категории')
								.about-act__legends
									+abActLeg('Проголосовали За', 'green')
									+abActLeg('Проголосовали Против', 'red')
									+abActLeg('Воздержались', 'gray')
				+abActCont('Хронология закона')
					//- +scrl
					//- 	+chronos
					+timeline(mods=['two'])
						+tlItem(1, '21.03.16', 'Внесение законопроекта в ГД')
						+tlItem(2, '15.04.16', 'Предварительное рассмотрение')
						+tlItem(3, '', 'Первое чтение')
						+tlItem(4, '', 'Второе чтение')
						+tlItem(5, '', 'Третье чтение')
						+tlItem(6, '', 'Рассмотрение в СФ')
						+tlItem(7, '', 'Рассмотрение президентом')
						+tlItem(8, '', 'Опубликование')
				+abActCont('Обсудить закон', true)

		+sides
			+side('green')(class='sides__content--show')
				.sides__text
					p Запрет на применение коллекторами физической силы, угрозы ее применения, причинение вреда здоровью, повреждение имущества, психологическое давление, оскорбления и введение в заблуждение;
					p закон не позволяет сообщать о долге третьим лицам, включая родственников и сослуживцев, размещать сведения о должнике в интернете или на жилом доме;
					p коллектор не может приходить к должнику, звонить или писать ему в рабочие дни с 22:00 до 8:00 и выходные и праздничные дни с 20:00 до 9:00. Он может встречаться с должником не более одного раза в неделю, а также звонить не более одного раза в сутки, но не более двух раз в неделю и не более восьми раз в месяц. Отправлять электронные сообщения должнику можно только два раза в сутки, четыре раза в неделю и шестнадцать раз в месяц. Каждый раз кредитор или коллектор должен представляться, сообщать о наличии долга и оставлять контактные данные;
					p кредитор может привлечь коллектора только с письменного согласия должника, заключенного после возникновения просрочки (такое согласие можно отозвать по истечение 3 месяцев с момента возникновения задолженности). Причем кредитор не вправе обращаться за содействием одновременно к двум или более коллекторам для общения с должником;
					p должник в любой момент может отказаться от общения с кредитором или коллектором, назначив вместо себя адвоката;
					p кредитор или коллектор не может общаться с недееспособными или лицами, ограниченными в дееспособности; с людьми, которые находятся на лечении в больнице; с инвалидами 1-й группы; с несовершеннолетними;
					p для связи с должником коллектор не вправе использовать устройства, скрывающие номер его телефона и адрес электронной почты, а также вести переговоры из-за рубежа;
					p увеличение в десять раз — до 2 миллионов рублей — штрафа за нарушение регламента взаимодействия взыскателя с должником, причем правила распространяются и на банки, микрофинансовые организации и других кредиторов;
					p коллекторской деятельностью не смогут заниматься граждане, имеющие судимость за преступления против личности, в сфере экономики и общественной безопасности, а также руководители "с испорченной деловой репутацией";
					p юридическое лицо, имеющее право взыскивать задолженность, должно заниматься этим в качестве основного рода деятельности и иметь уставный капитал не менее 10 миллионов рублей;
					p введение реестра профессиональных взыскателей и установление требования к ним.
				.sides__expand
					button.sides__expander Развернуть
				+sugg('green')

			+side('red')
				.sides__text
					p Банки будут вынуждены поднять ставки, чтобы переложить риски, кредиты станут еще менее доступными (в стоимость кредитов будут закладываться возможные судебные расходы);
					p расплывчатость формулировок и отсутствие толкования некоторых терминов;
					p действие закона пока что не распространяется на индивидуальных предпринимателей, а также на обязательства неденежного характера;
					p риск роста числа "черных" взыскателей;
					p возрастание нагрузки на судебную систему, а между тем тяжбы могут длиться годами и за это время будут начисляться проценты;
					p в проекте пока не отмечено, какое ведомство будет контролировать соблюдение закона;
					p в проекте пока не отмечено, какое ведомство будет контролировать соблюдение закона;
					p реализация механизма получения дополнительного согласия на переуступку долга вызовет сложности на практике: собирать подписи с должников после того, как они уже допустили просрочку, почти невозможно. Это вынудит банки получать такое 
				+sugg('red')
		
		h2.opinion__main-title Мнения экспертов и известных людей по законопроекту

		// если отзыв негативный, то к .section добавляется класс .opinion__wrapper--red
		// если отзыв положительный, то к .section добавляется класс .opinion__wrapper--green
		// если отзыв нейтральный, то к .section добавляется класс .opinion__wrapper--gray
		+section(
			class='opinion__wrapper--green')
			+opinion
				.opinion__tabs
					+opTab('http://goo.gl/jZCLyk')(mods=['active'])
					+opTab('http://goo.gl/8xF0Cu')
					+opTab('https://goo.gl/WhpvUu')
					+opTab('http://goo.gl/irgQPx')
				.opinion__content
					+opItem(
						'http://goo.gl/jZCLyk',
						'В.В. Путин, Президент РФ',
						'/doer.html')(mods=['show'])
						+opItemPar('Деятельность квази-коллекторов преступную надо прекратить. Беспредел, связанный с нарушением закона, с угрозами, с насилием - и психологическим насилием, и физическим. Это абсолютно неприемлемо.')
						+opItemPar('Но такой вид деятельности, как работа по долговым обязательствам, применяется во многих странах, это нормальный инструмент в рыночных отношениях, и нельзя, конечно, чтобы люди безответственно относились к получению денег и не думали о том, как они будут отдавать. Ведь несправедливо, если у вас возьмут деньги, а потом отдавать не будут.')
					+opItem(
						'http://goo.gl/8xF0Cu',
						'В.И. Матвиенко, Председатель Совета Федерации',
						'/doer.html')
						+opItemPar('Таким образом мы оградим граждан от общения с сомнительными личностями из непонятных организаций, которые действуют под вывеской коллекторских агентств.')
					+opItem(
						'https://goo.gl/WhpvUu',
						'А.Г. Тулеев, губернатор Кемеровской области',
						'/doer.html')
						+opItemPar('Ни один коллектор не имеет права "вышибать" долги... Другого выхода нет. Мы не можем допустить, чтобы наших людей убивали... Все бандиты и вымогатели должны быть привлечены к уголовной ответственности.')
					+opItem(
						'http://goo.gl/irgQPx',
						'Б.Б. Воронин, директор Национальной ассоциации профессиональных коллекторских агентств',
						'/doer.html')
						+opItemPar('Сейчас законопроект существенно ограничивает в правах сотрудников служб взыскания — даже в тех случаях, когда они не нарушают права заемщика... в нынешнем варианте он позволяет заемщику и вовсе отказаться от взаимодействия с коллектором, однако это может сказаться на ухудшении качества обслуживания банковских кредитов.')

		h2.opinion__main-title.mb20 Примеры применения закона и зарубежный опыт

		+section(
			class='section--small-pad')
			+usage
				+usItem(
					'https://news.google.ru/',
					'img/usage__1.jpg',
					'Разнообразный и богатый опыт',
					'Во Франции всего несколько сотен коллекторских компаний, которые в обязательном порядке получают разрешение на работу в прокуратуре, осуществляющей контроль за ними. Они действуют от лица кредитора по заключенному с ним соглашению, за что получают вознаграждение в размере 10-20 процентов от возвращенной суммы. Так как методы физического воздействия здесь дело подсудное, пытаются давить на неплательщиков психологически. В частности, письмами, по форме и содержанию здорово смахивающими на вполне официальные, что может заставить незнающих людей всерьез разволноваться. Но во французском уголовном кодексе есть статья, согласно которой "фабрикация печатных актов, напоминающих административные документы, что подрывает доверие к государственным структурам", наказывается тюремным заключением до одного года и штрафом в 15 тысяч евро. То же самое касается постоянных телефонных звонков. Реально добиться возврата долга полностью или частично во Франции можно только по решению суда с помощью судебного пристава.')
				+usItem(
					'https://news.google.ru/',
					'img/usage__3.jpg',
					'Разнообразный и богатый опыт сложившаяся структура организации',
					'В США деятельность коллекторских агентств регламентируется специальным законом, а надзор над его исполнением и работой коллекторов осуществляют сразу два ведомства - Федеральная торговая комиссия (ФТК) США и Бюро по финансовой защите потребителей при Федеральной резервной системе (ФРС). Многие штаты накладывают на коллекторов дополнительные требования, например, обязанность иметь специальную лицензию. Компаниям запрещается звонить должнику с 9 вечера до 8 утра, использовать ненормативную или оскорбительную лексику, звонить по месту работы, вымогать суммы, не предусмотренные договором, угрожать арестом и т.д. Кроме того, коллектор обязан представляться, указывать уполномочившую его компанию и кредитора, а также уведомлять о правах должника потребовать проверку подлинности долга. Если будет доказана ошибка коллекторов, то их могут обязать оплатить все расходы на юридические процедуры и компенсировать моральный ущерб в размере до 1 тысячи долларов.')
				+usItem(
					'https://news.google.ru/',
					'img/usage__1.jpg',
					'Разнообразный и богатый опыт',
					'В Великобритании наравне с коллекторами существует институт бейлифов: это государственные, частные компании или лица, которые назначаются судом для выполнения его решений о взыскании долгов. Права и обязанности бейлифов регулируются законом. Деятельность же коллекторов находится под контролем финансового регулятора Великобритании FCA, который фиксирует случаи насилия, шантажа и других нарушений. По закону за подобные действия предусмотрен штраф до £100 или до £400 при повторном нарушении.')


		.page__laws--ex-laws
			h2.opinion__main-title.mb20 Вам могут быть интересны эти законы
			
			+oneLaw('/law-single.html', 'gibdd', [['ЕР', 'didnt'], ['КПРФ', 'for'], ['ЛДПР', 'against'], ['СР', 'for']], 1,
				'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
				'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 53, 6, -4.5)
				
			+oneLaw('/law-single.html', 'minfin', [['ЕР', 'didnt'], ['КПРФ', 'for'], ['ЛДПР', 'against'], ['СР', 'for']], 1,
				'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
				'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 153, 6, -2)
					
		+section('Что Вы думаете по этому поводу?')(id='comments')
			.page__comments
				+comment(
					'http://www.parkplacehomesonline.com/wp-content/uploads/2014/03/faceholder.png',
					'TheDark KNIGHT',
					'05.03.2016 08:36',
					'2016-03-05T08:36',
					15,
					'Деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Что дополняет вторую строку моего коментария.')(liked)
				+comment(
					'http://www.parkplacehomesonline.com/wp-content/uploads/2014/03/faceholder.png',
					'TheDark KNIGHT',
					'05.03.2016 08:36',
					'2016-03-05T08:36',
					235,
					'Деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Что дополняет вторую строку моего коментария. Деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Что дополняет вторую строку моего коментария. Деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Что дополняет вторую строку моего коментария.')(no-photo='')
				+comment(
					'http://www.parkplacehomesonline.com/wp-content/uploads/2014/03/faceholder.png',
					'TheDark KNIGHT',
					'05.03.2016 08:36',
					'2016-03-05T08:36',
					1,
					'Деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Что дополняет вторую строку моего коментария.')(no-photo='')
				+comment(
					'http://www.parkplacehomesonline.com/wp-content/uploads/2014/03/faceholder.png',
					'TheDark KNIGHT',
					'05.03.2016 08:36',
					'2016-03-05T08:36',
					79,
					'Деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Что дополняет вторую строку моего коментария.')
				+comment(
					'http://www.parkplacehomesonline.com/wp-content/uploads/2014/03/faceholder.png',
					'TheDark KNIGHT',
					'05.03.2016 08:36',
					'2016-03-05T08:36',
					22,
					'Деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Что дополняет вторую строку моего коментария.')
			+pag(2, 50)
			form.page__leave-comment(
				action='#'
				name='leaveComment')
				+textarea(
					name='commentMessage'
					id='comment'
					placeholder='Оставить комментарий'
					required='')
				+btn-submit('Комментировать')

		+section('Статистика нашего портала:')(class='section--fullwidth section--stat')
			.page__numbers
				+number(8354, 'Всего<br>пользователей')
				+number(1264, 'Экспертов<br>зарегистрировано')
				+number(813, 'Законов<br>опубликовано')
			.page__diags
				+diagram(
					'main',
					'stat',
					'Различных тематик')(class='diagram--stat')
					+legItem('red', 'Первая тематика', '185 законов')
					+legItem('yellow', 'Вторая тематика', '91 закон')
					+legItem('blue', 'Третья тематика', '65 законов')
					+legItem('green', 'Четвертая тематика', '102 закона')
					+legItem('cyan', 'Пятая тематика', '102 закона')
				+diagram(
					'main',
					'stat',
					'Партий участвует в обсуждениях')(class='diagram--stat')
					+legItem('red', 'Единая Россия', '185 человек')
					+legItem('yellow', 'КПРФ', '91 человек')
					+legItem('blue', 'Справедливая Россия', '65 человек')
					+legItem('green', 'ЛДПР', '102 человека')

		+section('Не можете определить свои политические взгляды?')(class='section--fullwidth section--test')
			h2.section__title Пройдите тест!
			+btn('Пройти тест', 'test', true)(href='#')