extends ../blocks/template/main-template

block page_id
	-var page_id = 'index'
	-var withKlichko = false

block title
	title Народная база законов

block content
	+promo
		+promoItem('toKnow', 'Узнать', 'Узнать первыми о&nbsp;новых законопроектах и отношение населения к&nbsp;новым законопроектам')
		+promoItem('toSay', 'Высказать', 'Высказать свое отношение к&nbsp;любому законопроекту')
		+promoItem('toCompare', 'Сравнить', 'Сравнить свое отношение с&nbsp;отношением своей партии к&nbsp;любому законопроекту')
		+promoItem('toChoose', 'Определиться', 'Определиться с&nbsp;выбором партии и своими политическими взглядами')
	
	+act
		+actFace
			+rating(33)
		+actDesc('Закон об антитеррористической деятельности РФ и противодействии коррупции на территории Руси матушки')
			.act__description
				+mText('Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий представляет собой интересный эксперимент проверки направлений прогрессивного развития.')(class='act__text')
				+mText('С другой стороны реализация намеченных плановых заданий играет важную роль в формировании форм развития.')(class='act__text')
			.act__params
				+actParam('Тип:', 'Директива правительства')
				+actParam('Субъект:', 'Санкт-петербург, Ленинградская область')
				+actParam('Статус:', 'Второе чтение')
				+actParam('Авторы:', 'Грызлов В.И.(ЕР), Жириновский В.Л. (ЛДПР), Путин В.В (Президент РФ 2004-2016)')
				+actParam('Масштаб:', 'Федеральный')
				+actParam('Номер законопроекта:', '№ТТ012304')

		+voiting
			.voiting__btns
				+btn('Проголосовать &laquo;За&raquo;', 'thumb-up')
				+btn('Проголосовать &laquo;Против&raquo;', 'thumb-down')
				+btn('Воздержаться', 'neutral')
			.voiting__bar
				+cBar(35, 10, 55)

		+detail
			+actParam('Тип:', 'Директива правительства')
			+actParam('Субъект:', 'Санкт-петербург, Ленинградская область')
			+actParam('Статус:', 'Второе чтение')
			+actParam('Авторы:', 'Грызлов В.И.(ЕР), Жириновский В.Л. (ЛДПР), Путин В.В (Президент РФ 2004-2016)')
			+actParam('Масштаб:', 'Федеральный')
			+actParam('Номер законопроекта:', '№ТТ012304')

	+abAct
		.about-act__tabs
			+abActTab('Результаты голосований в гос. думе')(class='about-act__tab--active')
			+abActTab('Статистика по закону')
			+abActTab('Хронология закона')
			+abActTab('Обсудить закон', true)
		.about-act__contents
			+abActCont('Результаты голосований в гос. думе')
				.about-act__diagram-pack
					.about-act__diagrams
						+diagram(
							'main',
							'pie-deputy',
							'Фракция Всероссийской политичекой партии &#8220;Единая&nbsp;Россия&#8221;')
						+diagram(
							'main',
							'pie-deputy',
							'Фракция политичеекой партии &#8220;КПРФ&#8221;')
						+diagram(
							'main',
							'pie-deputy',
							'Фракция политической партии &#8220;Справедливая&nbsp;Россия&#8221;')
						+diagram(
							'main',
							'pie-deputy',
							'Фракция политической партии  &#8220;ЛДПР&#8221;')
						+diagram(
							'main',
							'pie-deputy',
							'Общая статистика по всем партиям')
				.about-act__legends
					+abActLeg('Проголосовали За', 'green')
					+abActLeg('Проголосовали Против', 'red')
					+abActLeg('Не голосовали', 'blue')
					+abActLeg('Воздержались', 'gray')
			+abActCont('Статистика по закону')(class='about-act__content--show')
				+tTabs
					+tTab('Пол/возраст', true)
					+tTab('Образование')
					+tTab('Статус')
					+tTab('География')
					+tTab('Карьера')
					+tTab('Религия')
					+tTab('Политика')
				.about-act__diagram-pack
					.about-act__diagrams
						.about-act__type.about-act__type--show
							+diagram('main', 'bars')
							+diagram('main', 'bars')
							+diagram('main', 'bars')
						.about-act__type
							+diagram('main', 'pie')
							+diagram('main', 'pie')
						.about-act__type
							+diagram('main', 'pie')
							+diagram('main', 'pie')
							+diagram('main', 'pie')
						.about-act__type
							+diagram('main', 'pie')
							+diagram('main', 'pie')
							+diagram('main', 'pie')
							+diagram('main', 'pie')
						.about-act__type
							+diagram('main', 'pie')
							+diagram('main', 'pie')
							+diagram('main', 'pie')
							+diagram('main', 'pie')
							+diagram('main', 'pie')
						.about-act__type
							+diagram('main', 'pie')
							+diagram('main', 'pie')
							+diagram('main', 'pie')
							+diagram('main', 'pie')
							+diagram('main', 'pie')
							+diagram('main', 'pie')
						.about-act__type
							+diagram('main', 'pie')
							+diagram('main', 'pie')
							+diagram('main', 'pie')
							+diagram('main', 'pie')
							+diagram('main', 'pie')
							+diagram('main', 'pie')
							+diagram('main', 'pie')
				.about-act__legends
					+abActLeg('Проголосовали За', 'green')
					+abActLeg('Проголосовали Против', 'red')
					+abActLeg('Воздержались', 'gray')
			+abActCont('Хронология закона')
				+scrl
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deleniti quibusdam iste, commodi, tenetur numquam minus temporibus repudiandae explicabo soluta provident hic, ex. Exercitationem odio qui nemo, aspernatur aperiam delectus.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deleniti quibusdam iste, commodi, tenetur numquam minus temporibus repudiandae explicabo soluta provident hic, ex. Exercitationem odio qui nemo, aspernatur aperiam delectus.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deleniti quibusdam iste, commodi, tenetur numquam minus temporibus repudiandae explicabo soluta provident hic, ex. Exercitationem odio qui nemo, aspernatur aperiam delectus.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deleniti quibusdam iste, commodi, tenetur numquam minus temporibus repudiandae explicabo soluta provident hic, ex. Exercitationem odio qui nemo, aspernatur aperiam delectus.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deleniti quibusdam iste, commodi, tenetur numquam minus temporibus repudiandae explicabo soluta provident hic, ex. Exercitationem odio qui nemo, aspernatur aperiam delectus.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deleniti quibusdam iste, commodi, tenetur numquam minus temporibus repudiandae explicabo soluta provident hic, ex. Exercitationem odio qui nemo, aspernatur aperiam delectus.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deleniti quibusdam iste, commodi, tenetur numquam minus temporibus repudiandae explicabo soluta provident hic, ex. Exercitationem odio qui nemo, aspernatur aperiam delectus.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deleniti quibusdam iste, commodi, tenetur numquam minus temporibus repudiandae explicabo soluta provident hic, ex. Exercitationem odio qui nemo, aspernatur aperiam delectus.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deleniti quibusdam iste, commodi, tenetur numquam minus temporibus repudiandae explicabo soluta provident hic, ex. Exercitationem odio qui nemo, aspernatur aperiam delectus.
			+abActCont('Обсудить закон', true)

	+sides
		+side('green')(class='sides__content--show')
			.sides__text
				p С другой стороны реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании позиций.
				p Занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки дальнейших направлений развития. 
				p Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности играет важную роль в формировании дальнейших направлений развития. 
				p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. 
				p Разнообразный и богатый опыт сложившаяся структура организации в значительной степени обуславливает создание существенных финансовых и административных условий. 
				p Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
			+sugg('green')

		+side('red')
			.sides__text
				p Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции играет важную роль в формировании существенных финансовых и административных условий.
				p Товарищи! консультация с широким активом требуют от нас анализа новых предложений.
				p Равным образом рамки и место обучения кадров в значительной степени обуславливает создание новых предложений.
				p Товарищи! новая модель организационной деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации.
				p Равным образом постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.
				p Не следует, однако забывать, что рамки и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития.
			+sugg('red')
	
	+section('Мнения экспертов и известных людей по законопроекту:')
		+opinion
			+opItem(
				'http://ldpr.ru/static/uploads/55a2931f618f6fbd71a75115c19398b0.jpg',
				'Преступную деятельность квазиколлекторов надо прекратить. Но такой вид деятельности, как работа по долговым обязательствам, применяется в очень многих странах. Это нормальный инструмент рыночных отношений, и нельзя, конечно, чтобы люди безответственно относились к получению денег и не думали о том, как они будут отдавать, надо все-таки исходить из реалий и соображений справедливости. Ведь несправедливо, если у вас возьмут деньги и не будут их отдавать. Но беспредел, связанный с нарушением закона, угрозами, психологическим и физическим насилием, абсолютно неприемлем. Сейчас эти решения рассматриваются на законодательном уровне. Надеюсь, что они будут приняты в самое ближайшее время. Обязательно их подтолкнем',
				'Жириновский В.В. (ЛДПР)',
				'https://new.vk.com/zhirinovskyv')
			+opItem(
				'http://www.1tvnet.ru/assets/images/news/vershinina/04_2014/624103.jpg',
				'Никогда ни одна женщина не скажет «хватит», никогда! Хоть в постели, хоть за столом, хоть в магазине.',
				'Жириновский В.В. (ЛДПР)',
				'https://new.vk.com/zhirinovskyv')
			+opItem(
				'http://hayastannews.com/wp-content/uploads/2015/07/41277.jpg',
				'Я скажу, потом вы скажете, потом вас вынесут отсюда.',
				'Жириновский В.В. (ЛДПР)',
				'https://new.vk.com/zhirinovskyv')
			+opItem(
				'https://pp.vk.me/c614619/v614619223/df4d/9BsAK8KNs54.jpg',
				'Всё к террористам должно внушать ненависть… Нормальный человек чёрную бороду, висячую, отращивать не будет!',
				'Жириновский В.В. (ЛДПР)',
				'https://new.vk.com/zhirinovskyv')
			+opItem(
				'https://www.proza.ru/pics/2011/09/20/1573.jpg',
				'Кто в армии не стирал носки чеченцам?! Я стирал!',
				'Жириновский В.В. (ЛДПР)',
				'https://new.vk.com/zhirinovskyv')

	+section('Примеры применения закона и зарубежный опыт:')(class='section--small-pad')
		+usage
			+usItem(
				'#',
				'http://placekitten.com/315/130',
				'Разнообразный и богатый опыт',
				'Эксперимент проверки позиций, занимаемых участниками вотношении поставленных задач.')
			+usItem(
				'#',
				'http://placekitten.com/315/130',
				'Структура организации',
				'Представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.')
			+usItem(
				'#',
				'http://placekitten.com/315/130',
				'Разнообразный и богатый опыт сложившаяся структура организации',
				'Равным образом постоянный количественный рост и сфера нашей активности.')
			+usItem(
				'#',
				'http://placekitten.com/315/130',
				'Разнообразный и богатый опыт',
				'Эксперимент проверки позиций, занимаемых участниками вотношении поставленных задач.')
			+usItem(
				'#',
				'http://placekitten.com/315/130',
				'Структура организации',
				'Представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.')

	+section('Что Вы думаете по этому поводу?')(id='comments')
		.page__comments
			+comment(
				'http://placekitten.com/50/50',
				'TheDark KNIGHT',
				'05.03.2016 08:36',
				'2016-03-05T08:36',
				15,
				'Деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Что дополняет вторую строку моего коментария.')(liked)
			+comment(
				'http://placekitten.com/50/50',
				'TheDark KNIGHT',
				'05.03.2016 08:36',
				'2016-03-05T08:36',
				235,
				'Деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Что дополняет вторую строку моего коментария.')
			+comment(
				'http://placekitten.com/50/50',
				'TheDark KNIGHT',
				'05.03.2016 08:36',
				'2016-03-05T08:36',
				1,
				'Деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Что дополняет вторую строку моего коментария.')
			+comment(
				'http://placekitten.com/50/50',
				'TheDark KNIGHT',
				'05.03.2016 08:36',
				'2016-03-05T08:36',
				79,
				'Деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Что дополняет вторую строку моего коментария.')
			+comment(
				'http://placekitten.com/50/50',
				'TheDark KNIGHT',
				'05.03.2016 08:36',
				'2016-03-05T08:36',
				22,
				'Деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Что дополняет вторую строку моего коментария.')
		+pag(2, 50)
		form.page__leave-comment(
			action='#'
			name='leaveComment')
			+textarea(
				name='commentMessage'
				id='comment'
				placeholder='Оставить комментарий'
				required='')
			+btn-submit('Комментировать')

	+section('Статистика нашего портала:')(class='section--fullwidth')
		.page__numbers
			+number(8354, 'Всего<br>пользователей')
			+number(1264, 'Экспертов<br>зарегистрировано')
			+number(813, 'Законов<br>опубликовано')
		.page__diags
			+diagram(
				'main',
				'stat',
				'Различных тематик')(class='diagram--stat')
				+legItem('red', 'Первая тематика', '185 законов')
				+legItem('red', 'Вторая тематика', '91 закон')
				+legItem('red', 'Третья тематика', '65 законов')
				+legItem('red', 'Четвертая тематика', '102 закона')
			+diagram(
				'main',
				'stat',
				'Партий участвует в обсуждениях')(class='diagram--stat')
				+legItem('red', 'Единая Россия', '185 человек')
				+legItem('red', 'КПРФ', '91 человек')
				+legItem('red', 'Справедливая Россия', '65 человек')
				+legItem('red', 'ЛДПР', '102 человека')