extends ../blocks/template/template

block page_id
	-var page_id		= 'laws'
	-var withKlichko	= false
	-var qoute			= false

block title
	title Пользователи

block content
	+main(class='main--bg')
		.page__content
			+breadcrumbs
				+brItem('База законов')
			
			.page__laws
				.page__header
					+search(
						placeholder='Поиск новостей по ключевой фразе'
						autocomplete='true')

					+extendedSearch(mods=['opened'])
						+esItem('Тематика')
							+select('subj')(
								multiple='multiple'
								id='subj')
								+sOption('mvd', 'МВД')
								+sOption('gibdd', 'ГИБДД')
								+sOption('medicine', 'Медицина')
								+sOption('finance', 'Финансы и рынки')
								+sOption('policy', 'Политика')
								+sOption('education', 'Образование')
								+sOption('military', 'Вооруженные силы')
								+sOption('realty', 'Недвижимость')
								+sOption('manRights', 'Права человека')
					
						+esItem('Период публикации')(mods=['flex'])
								.extended-search__item--half
									+datepicker(
										placeholder='с'
										id='publStart'
										mods=['half'])
								.extended-search__item--half
									+datepicker(
										placeholder='по'
										id='publEnd'
										mods=['half'])

						+esItem('Плюсы')(mods=['half'])
							+range('pluses')(mods=['green'])

						+esItem('Минусы')(mods=['half'])
							+range('minuses')(mods=['red'])

						+esItem('Статус')
							+select('status')(
								multiple='multiple'
								id='status')
								+sOption('mvd', 'МВД')
								+sOption('gibdd', 'ГИБДД')
								+sOption('medicine', 'Медицина')
								+sOption('finance', 'Финансы и рынки')
								+sOption('policy', 'Политика')

					+pageTitle(1, 'База законов')(mods=['laws'])

				.page__laws
					+oneLaw('#', 'gibdd', [
							['ЕР', 'didnt'],
							['КПРФ', 'for'],
							['ЛДПР', 'against'],
							['СР', 'for']
						], 1,
						'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
						'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 53, 6, -4.5)
						
					+oneLaw('#', 'minfin', [
							['ЕР', 'didnt'],
							['КПРФ', 'for'],
							['ЛДПР', 'against'],
							['СР', 'for']
						], 1,
						'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
						'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 153, 6, -2)
						
					+oneLaw('#', 'minobr', [
							['ЕР', 'didnt'],
							['КПРФ', 'for'],
							['ЛДПР', 'against'],
							['СР', 'for']
						], 1,
						'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
						'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 3, 123, -1.5)
						
					+oneLaw('#', 'minstroy', [
							['ЕР', 'didnt'],
							['КПРФ', 'for'],
							['ЛДПР', 'against'],
							['СР', 'for']
						], 1,
						'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
						'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 153, 226, 0)
						
					+oneLaw('#', 'minzdrav', [
							['ЕР', 'didnt'],
							['КПРФ', 'for'],
							['ЛДПР', 'against'],
							['СР', 'for']
						], 1,
						'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
						'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 3, 0, 2)
						
					+oneLaw('#', 'mvd', [
							['ЕР', 'didnt'],
							['КПРФ', 'for'],
							['ЛДПР', 'against'],
							['СР', 'for']
						], 1,
						'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
						'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 53, 46, 2.5)
						
					+oneLaw('#', 'rf', [
							['ЕР', 'didnt'],
							['КПРФ', 'for'],
							['ЛДПР', 'against'],
							['СР', 'for']
						], 1,
						'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
						'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 53, 6, 3)
						
					+oneLaw('#', 'vs', [
							['ЕР', 'didnt'],
							['КПРФ', 'for'],
							['ЛДПР', 'against'],
							['СР', 'for']
						], 1,
						'Закон «О внесении изменений в постановление Правительства Российской Федерации...»',
						'Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы ...Об утверждении правил предоставления из федерального бюджета субсидий стратегическим организациям оборонно-промышленного комплекса с целью предупреждения банкротства в рамках подпрограммы...', '21 марта 2016', '2016-03-21', 216, 53, 6, 4.5)